:root {
	color: #4929e6;
	font-weight: normal;
	font-size: x-large;
	font-family: Verdana, sans-serif;
	line-height: 1.7;
}

@media (width < 600px) {
	:root {
		font-size: large;
	}
}

body {
	margin: 0;
}

/* blockquote {
	margin-left: 0;
	padding: 0.5em 1.5em;
	font-size: 0.95em;
	border-left: 2px solid #4929e6;
	font-style: italic;
} */
