:root {
	color: #4929e6;
	font-weight: normal;
	font-size: large;
	font-family: Verdana, sans-serif;
	line-height: 1.7;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

/* ------------- */
input,
button {
	--s-border: 1px solid #ccc;
	--s-border-radius: 5px;
}

:is(button, input):disabled {
	opacity: 0.4;
	filter: grayscale(1);
	pointer-events: none;
}

input[type='text'],
button {
	box-sizing: border-box;
	font-size: inherit;
	line-height: 1.2;
	padding: 0.5em 0.75em;
	border: var(--s-border);
	border-radius: var(--s-border-radius);
	color: inherit;
}

button {
	background-color: rgba(0, 0, 0, 0.025);
}

button:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

button:active {
	background-color: rgba(0, 0, 0, 0.1);
}
