:root {
	color: #4929e6;
	font-weight: normal;
	font-size: x-large;
	font-family: Verdana, sans-serif;
	line-height: 1.7;
}

@media (width < 600px) {
	:root {
		font-size: large;
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* ------------- */
input,
button {
	--s-border: 1px solid #ccc;
	--s-border-radius: 5px;
}

:is(button, input):disabled {
	opacity: 0.4;
	filter: grayscale(1);
	pointer-events: none;
}

input[type='text'],
button {
	box-sizing: border-box;
	font-size: inherit;
	line-height: 1.2;
	padding: 0.5em 0.75em;
	border: var(--s-border);
	border-radius: var(--s-border-radius);
	color: inherit;
}

button {
	background-color: rgba(0, 0, 0, 0.025);
}

button:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

button:active {
	background-color: rgba(0, 0, 0, 0.1);
}

/* Range */
input[type='range'] {
	color: currentColor;
	width: 100%;
	height: 2em;
	padding: 0;
	background: transparent;
	box-sizing: border-box;
}

/* ---- track ---- */
input[type='range']::-webkit-slider-runnable-track {
	height: 0.5em;
	background: #ccc;
	border: var(--s-border);
	border-radius: 4px;
}

input[type='range']::-moz-range-track {
	height: 0.5em;
	background: #ccc;
	border: var(--s-border);
	border-radius: 4px;
}

/* ---- thumb ---- */
input[type='range']::-webkit-slider-thumb {
	height: 1.5em;
	width: 1.5em;
	background: currentColor;
	border: var(--s-border);
	border-radius: 50%;
	margin-top: -0.5em;
}

input[type='range']::-moz-range-thumb {
	height: 1.5em;
	width: 1.5em;
	background: currentColor;
	border: var(--s-border);
	border-radius: 50%;
}
