:root {
	color: #4929e6;
	font-weight: normal;
	font-size: x-large;
	font-family: Verdana, sans-serif;
	line-height: 1.7;
}

body {
	margin: 0;
}

@media (width < 600px) {
	:root {
		font-size: large;
	}
}
